{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="program-form" method="POST">
                <!-- hidden_tag returns the form's security metadata -->
                {{ form.hidden_tag() }}
                <div class="form-group col-sm-3 mb-3">
                    {{ form.organization_id.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.organization_id(class = "form-control", placeholder="Enter the organization's id", required = False) }}
                    {% if form.organization_id.errors %}
                    <ul class = "errors">
                        {% for error in form.organization_id.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.acronym.label(class = "form-label") }}
                    {{ form.acronym(class = "form-control", placeholder="Enter the acronym", required = False) }}
                    {% if form.acronym.errors %}
                    <ul class = "errors">
                        {% for error in form.acronym.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.name.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.name(class = "form-control", placeholder="Enter the name", required = False) }}
                    {% if form.name.errors %}
                    <ul class = "errors">
                        {% for error in form.name.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.postal_code.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.postal_code(class = "form-control", placeholder="Enter the postal code", required = False) }}
                    {% if form.postal_code.errors %}
                    <ul class = "errors">
                        {% for error in form.postal_code.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div
                <div class="form-group col-sm-3 mb-3">
                    {{ form.street.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.street(class = "form-control", placeholder="Enter the street", required = False) }}
                    {% if form.street.errors %}
                    <ul class = "errors">
                        {% for error in form.street.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.city.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.city(class = "form-control", placeholder="Enter the city", required = False) }}
                    {% if form.city.errors %}
                    <ul class = "errors">
                        {% for error in form.city.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.genre.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.genre(class = "form-control", placeholder="Enter the genre", required = False) }}
                    {% if form.genre.errors %}
                    <ul class = "errors">
                        {% for error in form.genre.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
            </form>
    </div>
    </div>
</div>
{% endblock content %}
