{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="program-form" method="POST">
                <!-- hidden_tag returns the form's security metadata -->
                {{ form.hidden_tag() }}
                <div class="form-group col-sm-3 mb-3">
                    {{ form.project_id.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.project_id(class = "form-control", placeholder="Enter here", required = False) }}
                    {% if form.project_id.errors %}
                    <ul class = "errors">
                        {% for error in form.project_id.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.title.label(class = "form-label") }}
                    {{ form.title(class = "form-control", placeholder="Enter here", required = False) }}
                    {% if form.title.errors %}
                    <ul class = "errors">
                        {% for error in form.title.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.summary.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.summary(class = "form-control", placeholder="Enter here", required = False) }}
                    {% if form.summary.errors %}
                    <ul class = "errors">
                        {% for error in form.summary.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.funds.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.funds(class = "form-control", placeholder="Enter here", required = False) }}
                    {% if form.funds.errors %}
                    <ul class = "errors">
                        {% for error in form.funds.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div
                <div class="form-group col-sm-3 mb-3">
                    {{ form.starting_date.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.starting_date(class = "form-control", placeholder="Enter here", required = False) }}
                    {% if form.starting_date.errors %}
                    <ul class = "errors">
                        {% for error in form.starting_date.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.ending_date.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.ending_date(class = "form-control", placeholder="Enter here", required = False) }}
                    {% if form.ending_date.errors %}
                    <ul class = "errors">
                        {% for error in form.ending_date.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.executive_id.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.executive_id(class = "form-control", placeholder="Enter here", required = False) }}
                    {% if form.executive_id.errors %}
                    <ul class = "errors">
                        {% for error in form.executive_id.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.program_id.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.program_id(class = "form-control", placeholder="Enter here", required = False) }}
                    {% if form.program_id.errors %}
                    <ul class = "errors">
                        {% for error in form.program_id.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.organization_id.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.organization_id(class = "form-control", placeholder="Enter here", required = False) }}
                    {% if form.organization_id.errors %}
                    <ul class = "errors">
                        {% for error in form.organization_id.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.researcher_id.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.researcher_id(class = "form-control", placeholder="Enter here", required = False) }}
                    {% if form.researcher_id.errors %}
                    <ul class = "errors">
                        {% for error in form.researcher_id.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.deliverables.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.deliverables(class = "form-control", placeholder="Enter here", required = False) }}
                    {% if form.deliverables.errors %}
                    <ul class = "errors">
                        {% for error in form.deliverables.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
            </form>
    </div>
    </div>
</div>
{% endblock content %}
