{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                  <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Project's id</th>
                                    <th>Title</th>
                                    <th>Deliverable's id</th>
                                    <th>Deliverable's title</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for view in views %}
                                    <tr>
                                        <td> {{ view.c1 }} </td>
                                        <td> {{ view.c2 }} </td>
                                        <td> {{ view.c3 }} </td>
                                        <td> {{ view.c4 }} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
